* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../images/bg3.jpg) no-repeat center center/cover;
}

.container {
  background-color: rgba(108, 223, 231, 0.781);
  padding: 40px;
  border-radius: 10px;
  color: black;
  width: 320px;
  height: auto;
}

.container h1 {
  font-size: 35px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
  color: hsla(0, 0%, 0%, 0.856);
}

.container .input-box {
  position: relative;
  width: 115%;
  height: 20px;
  position: relative;
  background-color: transparent;
  margin: 55px 0;
} 

.input-box input {
  width: 90%;
  height: 90%;
  padding: 10px 30px 10px 10px;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid #0e0c0cda;
  border-radius: 20px;
  font-size: 15px;
  color: #000000;
  padding: 20px 30px 20px 20px;
}

.input-box input::placeholder {
  color: hsla(195, 80%, 8%, 0.877);
}

.input-box i {
  position: absolute;
  top: 60%;
  right: 45px;
  transform: translateY(125%);
  font-size: 20px;
}

.input-box label{
padding-bottom: 6px;
font-size: 15px;
display: block;
}

.remember-forgot {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  color: #000000d1;
}

.remember-forgot label input {
  accent-color:  #000000;
  margin-right: 5px;
}

.remember-forgot a {
  text-decoration: none;
  color: #000000d1;
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: #000;
}

.container button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #2da106a1;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #000000c7;
}


.container .register-link {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.container .register-link a {
  text-decoration: none;
  color: #080202d1;
  font-weight: 600;
}

.container .register-link a:hover {
  text-decoration: underline;
  color: #000000;
}