body{
  margin: 0px;
  background-color: rgba(94, 65, 55, 0.486);
}
main{
  margin-left: 20px;
  margin-right: 20px;
}
h1{
  text-align: center;
}

.navbar ul{
  list-style-type: none;
  background-color: hsla(0, 0%, 0%, 0.425);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: #000000c7;
}
.navbar li{
  float: left;
}